* {
    vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
    color:inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

body {
    /* background-color: #E8E7EE; */
    color: #fefefe;
}

header {
    background: #119b9d;
    /* box-shadow: 1px 1px 10px #1B1B3A; */
    border-bottom:3px solid black;

}

.navbar-logo {
    width:110px;
}

.navbar .navbar-brand {
    color: #fefefe;
    padding-bottom: 0;
}

.navbar .nav-item .nav-link {
    color: #fefefe;
}

.navbar .navbar-brand:hover, .navbar .nav-item .nav-link:hover, .info_link:hover {
    color: #9900ff;
    text-decoration: none;
}

.navbar .nav-item .btn:hover {  
    color:#fefefe;
    background-color: #9900ff;  
}

.fa-3x {
    color:#fefefe;
    margin-right:15px;;
}

.brand_wrapper {
    display: flex;
    flex-direction: column;
}

.headline {
    display:inline-block;
    border: 3px solid #000;
    border-radius:4px;
    padding:0 5px;
    background-color: #9900ff;
    font-size:20px;
    font-weight: 500;
    box-shadow: 3px 3px 3px #1B1B3A;
    color: #fefefe;
}

.navbar-collapse {
    margin: 15px;
    text-align: center;
}

header .navbar .nav-item a.btn {
    background-color:#fefefe;
    border: 3px solid #9900ff;
    color:#9900ff;
    border-radius:20px;
    padding: 0 30px;
}

.form-control {
    display:inline-block;
    width:80%;
    background-color: #fefefe;
}

.form-group label {
    display:block;
    color: #fefefe;
    font-size: 18px;
}


.fa-2x {
    margin-right: 8px;
    vertical-align: middle;
    color: #fefefe;
}


.pet_info {
    border-radius: 15px;
    padding:20px;
    color:#000;
}

h2.headline {
    font-size:26px;
}

.pet_info:nth-child(odd) {
    background: #dddddd;
    /* box-shadow: 3px 3px 7px #dddddd; */
}

.pet_info:nth-child(odd) img {
    margin-right:20px;
}

.pet_info:nth-child(even) {
    background:#17cfd1;
    text-align: right;
    /* box-shadow: 3px 3px 7px #17cfd1; */
}     

.pet_info:nth-child(even) img {
    margin-left:20px;
}    

.pet_info img {
    width:40%;
    height:fit-content;
    border: 3px #fefefe ridge;
    border-radius: 100%;
    padding:3px;
}

.info_link {
    font-size: 20px;
    color: #000;
}


@media only screen and (min-width: 576px) {
    .pet_info img {
        width:30%;
    }
}

@media only screen and (max-width: 767.98px) {
    .fa-2x {
        width: 25px;
        text-align: right;
    }
    .navbar .nav-item .nav-link {
        font-size:1.2rem;
    }

    .navbar .navbar-brand {
        font-size: 1.9em;
    }
}


@media only screen and (min-width: 768px) { 
    .navbar .nav-item .nav-link {
        font-size:1.4rem;
    }

    .navbar .navbar-brand {
        font-size: 2.1em;
    }
}

@media only screen and (max-width: 991.98px) { 
    header .btn {
        width: 50%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 992px) {
    .pet_info img {
        width:20%;
    }
    .navbar .nav-item .nav-link {
        font-size:1.6rem;
    }

    .navbar .navbar-brand {
        font-size: 2.3em;
    }

    .navbar .nav-item {
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 1200px) { 
    .navbar .nav-item .nav-link {
        font-size:1.8rem;
    }

    .navbar .navbar-brand {
        font-size: 2.5em;
    }

    .navbar .nav-item {
        margin-left: 3rem;
    }

    p {
        font-size:18px;
    }
}
